.combat-container {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, rgb(30, 30, 30, 0.827), rgb(58, 58, 58, 0.827));
    color: white;
    font-family: "Arial", sans-serif;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .round-message {
    font-size: 18px;
    color: yellow;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .battlefield {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .character {
    text-align: center;
  }
  
  .character-img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 3px solid white;
  }
  
  .vs {
    font-size: 24px;
    font-weight: bold;
    margin: 0 20px;
    animation: glow 1.5s infinite alternate;
  }
  
  .selection {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .attack-selection, .defense-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .choice-button {
    padding: 5px;
    margin: 5px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .choice-button:hover {
    transform: scale(1.1);
  }
  
  .choice-button.selected {
    border: 2px solid yellow;
  }
  
  .zone-img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 2px solid white;
    transition: transform 0.3s;
  }
  
  .zone-img:hover {
    transform: scale(1.1);
  }
  
.border-winner
{
  border-radius: 10px;
  border: 5px solid green;
}

.border-loser
{
  border-radius: 10px;
  border: 5px solid red;
}
