.block-red
{
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.block-green
{
    padding: 10px;
    background-color: rgba(0, 255, 0, 0.7);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

h1 {
    font-size: 28px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hunt-result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Arial", sans-serif;
  }

  .block
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  