.content
{
    height: 100vh;
    width: 100%;
}

.content_top
{
    min-height: 100%;
    padding-top: 20vh;
    height: 80vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 150vh;
}

.block
{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.block-red
{
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.block-green
{
    padding: 10px;
    background-color: rgba(0, 255, 0, 0.7);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}