.footer {
    background-size: cover;
    background-position: center;
    background-color: #000000;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* Minimum */
    padding: 20px 0;
}