@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('/image-background-1@2x.png') center/cover fixed no-repeat;
}

/* Main content container */
.content {
    min-height: 100vh;
    width: 100%;
}

/* Top section */
.content_top {
    min-height: 100%;
    height: auto;
    padding: 20vh 10vh 150vh;
}

/* Bottom section */
.content_bottom {
    min-height: 100%;
    width: 100%;
    padding-top: 15vh;
    height: auto;
    padding-left: 10vh;
    background: url('/image-medium-1@2x.png') center/cover no-repeat;
}

/* Block styling */
.block_white {
    background: rgba(196, 188, 188, 0.83);
    padding: 20px;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Alert styles */
.alert-red, .alert-green {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    color: black;
}

.alert-red {
    background: rgba(255, 0, 0, 0.5);
}

.alert-green {
    background: rgba(0, 255, 0, 0.5);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .content_top, .content_bottom {
        padding-left: 5vh;
        padding-right: 5vh;
    }
}

@media (max-width: 480px) {
    .content_top, .content_bottom {
        padding-left: 2vh;
        padding-right: 2vh;
        padding-top: 10vh;
    }
}
