.dino-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
}

.dino-card {
width: 100vh;
}

.dino-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5vh;
}

.dino-profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-bottom: 15px;
}

.dino-info-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dino-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.dino-stats .stat-block {
  margin-bottom: 20px;
}

.stat-item{
  text-align: left;
}

.progress-bar {
  background: #444;
  border-radius: 5px;
  overflow: hidden;
  height: 15px;
  margin-bottom: 5px;
}

.progress-fill {
  height: 100%;
  border-radius: 5px;
}

.life-bar {
  background: #ff4d4d;
}

.pm-bar {
  background: #c74dff;
}

.fatigue-bar {
  background: #e4ff4d;
}
.faim-bar {
  background: #4dff56;
}
.soif-bar {
  background: #4da6ff;
}

/* 🔙 Bouton Retour */
.btn-back {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  background: #ff4d4d;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-back:hover {
  background: #cc0000;
}
